In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("dim_match_summary.csv")
df

,team1,team2,winner,margin,ground,matchDate,match_id
0,India,South Africa,India,7 runs,Bridgetown,"Jun 29, 2024",T20I # 2729
1,England,India,India,68 runs,Providence,"Jun 27, 2024",T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,"Jun 26, 2024",T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,"Jun 24, 2024",T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,"Jun 24, 2024",T20I # 2721
5,West Indies,South Africa,South Africa,3 wickets,North Sound,"Jun 23, 2024",T20I # 2720
6,England,U.S.A.,England,10 wickets,Bridgetown,"Jun 23, 2024",T20I # 2719
7,Afghanistan,Australia,Afghanistan,21 runs,Kingstown,"Jun 22, 2024",T20I # 2717
8,Bangladesh,India,India,50 runs,North Sound,"Jun 22, 2024",T20I # 2716
9,West Indies,U.S.A.,West Indies,9 wickets,Bridgetown,"Jun 21, 2024",T20I # 2713
10,England,South Africa,South Africa,7 runs,Gros Islet,"Jun 21, 2024",T20I # 2712
11,Australia,Bangladesh,Australia,28 runs,North Sound,"Jun 20, 2024",T20I # 2711
12,Afghanistan,India,India,47 runs,Bridgetown,"Jun 20, 2024",T20I # 2710
13,West Indies,England,England,8 wickets,Gros Islet,"Jun 19, 2024",T20I # 2709
14,South Africa,U.S.A.,South Africa,18 runs,North Sound,"Jun 19, 2024",T20I # 2708
15,West Indies,Afghanistan,West Indies,104 runs,Gros Islet,"Jun 17, 2024",T20I # 2703
16,New Zealand,P.N.G.,New Zealand,7 wickets,Tarouba,"Jun 17, 2024",T20I # 2702
17,Netherlands,Sri Lanka,Sri Lanka,83 runs,Gros Islet,"Jun 16, 2024",T20I # 2699
18,Bangladesh,Nepal,Bangladesh,21 runs,Kingstown,"Jun 16, 2024",T20I # 2698
19,Ireland,Pakistan,Pakistan,3 wickets,Lauderhill,"Jun 16, 2024",T20I # 2697
20,Australia,Scotland,Australia,5 wickets,Gros Islet,"Jun 15, 2024",T20I # 2689
21,England,Namibia,England,41 runs,North Sound,"Jun 15, 2024",T20I # 2688
22,New Zealand,Uganda,New Zealand,9 wickets,Tarouba,"Jun 14, 2024",T20I # 2682
23,Nepal,South Africa,South Africa,1 run,Kingstown,"Jun 14, 2024",T20I # 2681
24,Afghanistan,P.N.G.,Afghanistan,7 wickets,Tarouba,"Jun 13, 2024",T20I # 2679
25,England,Oman,England,8 wickets,North Sound,"Jun 13, 2024",T20I # 2678
26,Bangladesh,Netherlands,Bangladesh,25 runs,Kingstown,"Jun 13, 2024",T20I # 2677
27,West Indies,New Zealand,West Indies,13 runs,Tarouba,"Jun 12, 2024",T20I # 2672
28,U.S.A.,India,India,7 wickets,New York,"Jun 12, 2024",T20I # 2671
29,Australia,Namibia,Australia,9 wickets,North Sound,"Jun 11, 2024",T20I # 2666
30,Canada,Pakistan,Pakistan,7 wickets,New York,"Jun 11, 2024",T20I # 2665
31,Bangladesh,South Africa,South Africa,4 runs,New York,"Jun 10, 2024",T20I # 2664
32,Oman,Scotland,Scotland,7 wickets,North Sound,"Jun 9, 2024",T20I # 2659
33,India,Pakistan,India,6 runs,New York,"Jun 9, 2024",T20I # 2658
34,West Indies,Uganda,West Indies,134 runs,Providence,"Jun 8, 2024",T20I # 2651
35,Australia,England,Australia,36 runs,Bridgetown,"Jun 8, 2024",T20I # 2650
36,Netherlands,South Africa,South Africa,4 wickets,New York,"Jun 8, 2024",T20I # 2649
37,Bangladesh,Sri Lanka,Bangladesh,2 wickets,Dallas,"Jun 7, 2024",T20I # 2646
38,Afghanistan,New Zealand,Afghanistan,84 runs,Providence,"Jun 7, 2024",T20I # 2645
39,Canada,Ireland,Canada,12 runs,New York,"Jun 7, 2024",T20I # 2644
40,Namibia,Scotland,Scotland,5 wickets,Bridgetown,"Jun 6, 2024",T20I # 2643
41,U.S.A.,Pakistan,tied,-,Dallas,"Jun 6, 2024",T20I # 2642
42,Australia,Oman,Australia,39 runs,Bridgetown,"Jun 5, 2024",T20I # 2641
43,P.N.G.,Uganda,Uganda,3 wickets,Providence,"Jun 5, 2024",T20I # 2640
44,India,Ireland,India,8 wickets,New York,"Jun 5, 2024",T20I # 2639
45,Nepal,Netherlands,Netherlands,6 wickets,Dallas,"Jun 4, 2024",T20I # 2638
46,England,Scotland,no result,-,Bridgetown,"Jun 4, 2024",T20I # 2637
47,Afghanistan,Uganda,Afghanistan,125 runs,Providence,"Jun 3, 2024",T20I # 2636
48,South Africa,Sri Lanka,South Africa,6 wickets,New York,"Jun 3, 2024",T20I # 2635
49,Namibia,Oman,tied,-,Bridgetown,"Jun 2, 2024",T20I # 2634
50,West Indies,P.N.G.,West Indies,5 wickets,Providence,"Jun 2, 2024",T20I # 2633
51,U.S.A.,Canada,U.S.A.,7 wickets,Dallas,"Jun 1, 2024",T20I # 2632

In [4]:
df.shape

(52, 7)

In [9]:
df.head(11)

,team1,team2,winner,margin,ground,matchDate,match_id
0,India,South Africa,India,7 runs,Bridgetown,"Jun 29, 2024",T20I # 2729
1,England,India,India,68 runs,Providence,"Jun 27, 2024",T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,"Jun 26, 2024",T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,"Jun 24, 2024",T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,"Jun 24, 2024",T20I # 2721
5,West Indies,South Africa,South Africa,3 wickets,North Sound,"Jun 23, 2024",T20I # 2720
6,England,U.S.A.,England,10 wickets,Bridgetown,"Jun 23, 2024",T20I # 2719
7,Afghanistan,Australia,Afghanistan,21 runs,Kingstown,"Jun 22, 2024",T20I # 2717
8,Bangladesh,India,India,50 runs,North Sound,"Jun 22, 2024",T20I # 2716
9,West Indies,U.S.A.,West Indies,9 wickets,Bridgetown,"Jun 21, 2024",T20I # 2713
10,England,South Africa,South Africa,7 runs,Gros Islet,"Jun 21, 2024",T20I # 2712

In [11]:
match_ids_dict={}

for index,row in df.iterrows():
    key1 = row["team1"]+"vs"+row["team2"]
    key2 = row["team2"]+"vs"+row["team1"]

    match_ids_dict[key1] = row["match_id"]
    match_ids_dict[key2] = row["match_id"]

match_ids_dict

{'IndiavsSouth Africa': 'T20I # 2729',
 'South AfricavsIndia': 'T20I # 2729',
 'EnglandvsIndia': 'T20I # 2724',
 'IndiavsEngland': 'T20I # 2724',
 'AfghanistanvsSouth Africa': 'T20I # 2723',
 'South AfricavsAfghanistan': 'T20I # 2723',
 'AfghanistanvsBangladesh': 'T20I # 2722',
 'BangladeshvsAfghanistan': 'T20I # 2722',
 'AustraliavsIndia': 'T20I # 2721',
 'IndiavsAustralia': 'T20I # 2721',
 'West IndiesvsSouth Africa': 'T20I # 2720',
 'South AfricavsWest Indies': 'T20I # 2720',
 'EnglandvsU.S.A.': 'T20I # 2719',
 'U.S.A.vsEngland': 'T20I # 2719',
 'AfghanistanvsAustralia': 'T20I # 2717',
 'AustraliavsAfghanistan': 'T20I # 2717',
 'BangladeshvsIndia': 'T20I # 2716',
 'IndiavsBangladesh': 'T20I # 2716',
 'West IndiesvsU.S.A.': 'T20I # 2713',
 'U.S.A.vsWest Indies': 'T20I # 2713',
 'EnglandvsSouth Africa': 'T20I # 2712',
 'South AfricavsEngland': 'T20I # 2712',
 'AustraliavsBangladesh': 'T20I # 2711',
 'BangladeshvsAustralia': 'T20I # 2711',
 'AfghanistanvsIndia': 'T20I # 2710',
 'IndiavsAfghanistan': 'T20I # 2710',
 'West IndiesvsEngland': 'T20I # 2709',
 'EnglandvsWest Indies': 'T20I # 2709',
 'South AfricavsU.S.A.': 'T20I # 2708',
 'U.S.A.vsSouth Africa': 'T20I # 2708',
 'West IndiesvsAfghanistan': 'T20I # 2703',
 'AfghanistanvsWest Indies': 'T20I # 2703',
 'New ZealandvsP.N.G.': 'T20I # 2702',
 'P.N.G.vsNew Zealand': 'T20I # 2702',
 'NetherlandsvsSri Lanka': 'T20I # 2699',
 'Sri LankavsNetherlands': 'T20I # 2699',
 'BangladeshvsNepal': 'T20I # 2698',
 'NepalvsBangladesh': 'T20I # 2698',
 'IrelandvsPakistan': 'T20I # 2697',
 'PakistanvsIreland': 'T20I # 2697',
 'AustraliavsScotland': 'T20I # 2689',
 'ScotlandvsAustralia': 'T20I # 2689',
 'EnglandvsNamibia': 'T20I # 2688',
 'NamibiavsEngland': 'T20I # 2688',
 'New ZealandvsUganda': 'T20I # 2682',
 'UgandavsNew Zealand': 'T20I # 2682',
 'NepalvsSouth Africa': 'T20I # 2681',
 'South AfricavsNepal': 'T20I # 2681',
 'AfghanistanvsP.N.G.': 'T20I # 2679',
 'P.N.G.vsAfghanistan': 'T20I # 2679',
 'EnglandvsOman': 'T20I # 2678',
 'OmanvsEngland': 'T20I # 2678',
 'BangladeshvsNetherlands': 'T20I # 2677',
 'NetherlandsvsBangladesh': 'T20I # 2677',
 'West IndiesvsNew Zealand': 'T20I # 2672',
 'New ZealandvsWest Indies': 'T20I # 2672',
 'U.S.A.vsIndia': 'T20I # 2671',
 'IndiavsU.S.A.': 'T20I # 2671',
 'AustraliavsNamibia': 'T20I # 2666',
 'NamibiavsAustralia': 'T20I # 2666',
 'CanadavsPakistan': 'T20I # 2665',
 'PakistanvsCanada': 'T20I # 2665',
 'BangladeshvsSouth Africa': 'T20I # 2664',
 'South AfricavsBangladesh': 'T20I # 2664',
 'OmanvsScotland': 'T20I # 2659',
 'ScotlandvsOman': 'T20I # 2659',
 'IndiavsPakistan': 'T20I # 2658',
 'PakistanvsIndia': 'T20I # 2658',
 'West IndiesvsUganda': 'T20I # 2651',
 'UgandavsWest Indies': 'T20I # 2651',
 'AustraliavsEngland': 'T20I # 2650',
 'EnglandvsAustralia': 'T20I # 2650',
 'NetherlandsvsSouth Africa': 'T20I # 2649',
 'South AfricavsNetherlands': 'T20I # 2649',
 'BangladeshvsSri Lanka': 'T20I # 2646',
 'Sri LankavsBangladesh': 'T20I # 2646',
 'AfghanistanvsNew Zealand': 'T20I # 2645',
 'New ZealandvsAfghanistan': 'T20I # 2645',
 'CanadavsIreland': 'T20I # 2644',
 'IrelandvsCanada': 'T20I # 2644',
 'NamibiavsScotland': 'T20I # 2643',
 'ScotlandvsNamibia': 'T20I # 2643',
 'U.S.A.vsPakistan': 'T20I # 2642',
 'PakistanvsU.S.A.': 'T20I # 2642',
 'AustraliavsOman': 'T20I # 2641',
 'OmanvsAustralia': 'T20I # 2641',
 'P.N.G.vsUganda': 'T20I # 2640',
 'UgandavsP.N.G.': 'T20I # 2640',
 'IndiavsIreland': 'T20I # 2639',
 'IrelandvsIndia': 'T20I # 2639',
 'NepalvsNetherlands': 'T20I # 2638',
 'NetherlandsvsNepal': 'T20I # 2638',
 'EnglandvsScotland': 'T20I # 2637',
 'ScotlandvsEngland': 'T20I # 2637',
 'AfghanistanvsUganda': 'T20I # 2636',
 'UgandavsAfghanistan': 'T20I # 2636',
 'South AfricavsSri Lanka': 'T20I # 2635',
 'Sri LankavsSouth Africa': 'T20I # 2635',
 'NamibiavsOman': 'T20I # 2634',
 'OmanvsNamibia': 'T20I # 2634',
 'West IndiesvsP.N.G.': 'T20I # 2633',
 'P.N.G.vsWest Indies': 'T20I # 2633',
 'U.S.A.vsCanada': 'T20I # 2632',
 'CanadavsU.S.A.': 'T20I # 2632'}

batting summary

In [6]:
df_bat = pd.read_csv("fact_bating_summary.csv")
df_bat

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Pakistan Vs U.S.A,Pakistan,1,Mohammad Rizwan,9,8,0,1,112.5,out,T20I # 2642
1,Pakistan Vs U.S.A,Pakistan,2,Babar Azam(c),44,43,3,2,102.32,out,T20I # 2642
2,Pakistan Vs U.S.A,Pakistan,3,Usman Khan,3,3,0,0,100,out,T20I # 2642
3,Pakistan Vs U.S.A,Pakistan,4,Fakhar Zaman,11,7,0,1,157.14,out,T20I # 2642
4,Pakistan Vs U.S.A,Pakistan,5,Shadab Khan,40,25,1,3,160,out,T20I # 2642
...,...,...,...,...,...,...,...,...,...,...,...
847,West Indies Vs New Zealand,New Zealand,7,James Neesham,10,11,0,1,90.9,out,T20I # 2672
848,West Indies Vs New Zealand,New Zealand,8,Mitchell Santner,21,12,0,3,175,not_out,T20I # 2672
849,West Indies Vs New Zealand,New Zealand,9,Tim Southee,0,1,0,0,0,out,T20I # 2672
850,West Indies Vs New Zealand,New Zealand,10,Trent Boult,7,4,0,1,175,out,T20I # 2672
851,West Indies Vs New Zealand,New Zealand,11,Lockie Ferguson,0,0,0,0,-,not_out,T20I # 2672

In [8]:
df_bat.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Pakistan Vs U.S.A,Pakistan,1,Mohammad Rizwan,9,8,0,1,112.5,out,T20I # 2642
1,Pakistan Vs U.S.A,Pakistan,2,Babar Azam(c),44,43,3,2,102.32,out,T20I # 2642
2,Pakistan Vs U.S.A,Pakistan,3,Usman Khan,3,3,0,0,100,out,T20I # 2642
3,Pakistan Vs U.S.A,Pakistan,4,Fakhar Zaman,11,7,0,1,157.14,out,T20I # 2642
4,Pakistan Vs U.S.A,Pakistan,5,Shadab Khan,40,25,1,3,160,out,T20I # 2642
5,Pakistan Vs U.S.A,Pakistan,6,Azam Khan,0,1,0,0,0,out,T20I # 2642
6,Pakistan Vs U.S.A,Pakistan,7,Iftikhar Ahmed,18,14,3,0,128.57,out,T20I # 2642
7,Pakistan Vs U.S.A,Pakistan,8,Shaheen Shah Afridi,23,16,1,2,143.75,not_out,T20I # 2642
8,Pakistan Vs U.S.A,Pakistan,9,Haris Rauf,3,3,0,0,100,not_out,T20I # 2642
9,Pakistan Vs U.S.A,U.S.A,1,Steven Taylor,12,16,1,0,75,out,T20I # 2642
10,Pakistan Vs U.S.A,U.S.A,2,Monank Patel(c),50,38,7,1,131.57,out,T20I # 2642

BOWING summary

In [12]:
df_bowl = pd.read_csv("fact_bowling_summary.csv")
df_bowl

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,India Vs South Africa,South Africa,Marco Jansen,4.0,0,49,1,12.25,4,5,2,1,1,T20I # 2729
1,India Vs South Africa,South Africa,Keshav Maharaj,3.0,0,23,2,7.66,10,3,1,0,0,T20I # 2729
2,India Vs South Africa,South Africa,Kagiso Rabada,4.0,0,36,1,9.00,8,2,2,2,0,T20I # 2729
3,India Vs South Africa,South Africa,Aiden Markram,2.0,0,16,0,8.00,1,0,1,0,0,T20I # 2729
4,India Vs South Africa,South Africa,Anrich Nortje,4.0,0,26,2,6.50,7,2,0,2,0,T20I # 2729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,Netherlands Vs Nepal,Nepal,Sompal Kami,4.0,0,18,1,4.50,12,2,0,0,0,T20I # 2638
591,Netherlands Vs Nepal,Nepal,Gulsan Jha,2.0,0,17,0,8.50,2,2,0,0,1,T20I # 2638
592,Netherlands Vs Nepal,Nepal,Dipendra Singh Airee,2.0,0,6,1,3.00,7,0,0,0,0,T20I # 2638
593,Netherlands Vs Nepal,Nepal,Abinash Bohara,3.4,0,29,1,7.90,5,2,1,0,0,T20I # 2638
594,Netherlands Vs Nepal,Nepal,Sagar Dhakal,4.0,0,21,0,5.25,8,1,0,0,0,T20I # 2638

In [13]:
df_bowl.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,India Vs South Africa,South Africa,Marco Jansen,4.0,0,49,1,12.25,4,5,2,1,1,T20I # 2729
1,India Vs South Africa,South Africa,Keshav Maharaj,3.0,0,23,2,7.66,10,3,1,0,0,T20I # 2729
2,India Vs South Africa,South Africa,Kagiso Rabada,4.0,0,36,1,9.00,8,2,2,2,0,T20I # 2729
3,India Vs South Africa,South Africa,Aiden Markram,2.0,0,16,0,8.00,1,0,1,0,0,T20I # 2729
4,India Vs South Africa,South Africa,Anrich Nortje,4.0,0,26,2,6.50,7,2,0,2,0,T20I # 2729

In [14]:
df_player = pd.read_csv("dim_players.csv")
df_player

,name,team,image,battingStyle,playingRole,bowlingStyle,description
0,Andries Gous,U.S.A,NaN,Right hand Bat,Wicketkeeper,NaN,NaN
1,Rohit Sharma(c),India,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Top order Batter,Right arm Offbreak,NaN
2,Kuldeep Yadav,India,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left hand Bat,Bowler,Left arm Wrist spin,NaN
3,Matt Henry,New Zealand,NaN,Right hand Bat,Bowler,Right arm Fast medium,"A slippery fast bowler, Matt Henry almost didn..."
4,Robinson Obuya,Uganda,NaN,Right hand Bat,Batter,NaN,NaN
...,...,...,...,...,...,...,...
272,Scott Edwards(c),Netherlands,NaN,Right hand Bat,Wicketkeeper Batter,NaN,"Born in Tonga and raised in Australia, Scott E..."
273,Josh Little,Ireland,NaN,Right hand Bat,Bowler,Left arm Fast medium,"A bustling left-arm seamer from Dublin, Josh L..."
274,Roger Mukasa,Uganda,NaN,Right hand Bat,Batter,Right arm Offbreak,NaN
275,Assad Vala,Papua New Guinea,NaN,Left hand Bat,Batter,Right arm Offbreak,NaN
276,Michael Leask,Scotland,NaN,Right hand Bat,Allrounder,Right arm Offbreak,Michael Leask is an explosive batsman from Abe...

In [18]:
df_player.head()

,name,team,image,battingStyle,playingRole,bowlingStyle,description
0,Andries Gous,U.S.A,NaN,Right hand Bat,Wicketkeeper,NaN,NaN
1,Rohit Sharma(c),India,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Top order Batter,Right arm Offbreak,NaN
2,Kuldeep Yadav,India,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left hand Bat,Bowler,Left arm Wrist spin,NaN
3,Matt Henry,New Zealand,NaN,Right hand Bat,Bowler,Right arm Fast medium,"A slippery fast bowler, Matt Henry almost didn..."
4,Robinson Obuya,Uganda,NaN,Right hand Bat,Batter,NaN,NaN

NO IMAGE PLAYER

In [19]:
df_no_image_player = df_player.copy()

In [20]:
df_no_image_player.head()

,name,team,image,battingStyle,playingRole,bowlingStyle,description
0,Andries Gous,U.S.A,NaN,Right hand Bat,Wicketkeeper,NaN,NaN
1,Rohit Sharma(c),India,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Top order Batter,Right arm Offbreak,NaN
2,Kuldeep Yadav,India,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left hand Bat,Bowler,Left arm Wrist spin,NaN
3,Matt Henry,New Zealand,NaN,Right hand Bat,Bowler,Right arm Fast medium,"A slippery fast bowler, Matt Henry almost didn..."
4,Robinson Obuya,Uganda,NaN,Right hand Bat,Batter,NaN,NaN

In [21]:
df_no_image_player.drop(columns=["image"], inplace=True)
df_no_image_player.head()

,name,team,battingStyle,playingRole,bowlingStyle,description
0,Andries Gous,U.S.A,Right hand Bat,Wicketkeeper,NaN,NaN
1,Rohit Sharma(c),India,Right hand Bat,Top order Batter,Right arm Offbreak,NaN
2,Kuldeep Yadav,India,Left hand Bat,Bowler,Left arm Wrist spin,NaN
3,Matt Henry,New Zealand,Right hand Bat,Bowler,Right arm Fast medium,"A slippery fast bowler, Matt Henry almost didn..."
4,Robinson Obuya,Uganda,Right hand Bat,Batter,NaN,NaN

In [23]:
df_no_image_player.to_csv("df_no_image_player",index = True)